---
layout: default
---
<div class="topper">
    <header>
        <h1>{{ site.title }}</h1>
        <p>{{ site.short_description }}</p>
    </header>
    <div class="row this_is_lily">
        <div class="find_me">
        <p>
        <a target="_blank" href="http://github.com/{{ site.github_username }}">
            <img class="social" src="/static/img/github.png" />
        </a>
        <a target="_blank" href="http://twitter.com/{{ site.twitter_username }}">
            <img class="social" src="/static/img/twitter.jpg" />
        </a>
        </p>
        </div>

        <p>
          lily
        </p>

<div class="container">
    <div class="row three">
        {% for project in page.lead_projects %}
        <div class="one-third column">
            <a href="{{ project.url }}">
                <img src="{{ project.img }}" />
            </a>
            <a href="{{ project.url }}">
                <h4>{{ project.headline }}</h4>
            </a>
            <a href="{{ project.url }}">
                <p>{{ project.description }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
